Django>=4.1,<4.2
psycopg2-binary>=2.9,<3.0
django-environ>=0.7,<1.0

torch>=1.7
facexlib>=0.2.5
gfpgan>=1.3.7
realesrgan>=0.2.5
opencv-python
torchvision
scipy
tqdm
lmdb
pyyaml
yapf
gradio
onnxruntime
torchvision
insightface-0.7.3-cp310-cp310-win_amd64.whl
numpy==1.26.4
matplotlib==3.7.0